<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="60" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network port="587" host="smtp.gmail.com" defaultCredentials="false" enableSsl="true" userName="TeamPenguinES@gmail.com" password="#NWv6uc0t#PENGUIN"/>
      </smtp>
    </mailSettings>
  </system.net>


</configuration>
